<p-messages 
        [(value)]="messages" 
        [showTransitionOptions]="'500ms'" 
        [hideTransitionOptions]="'500ms'" 
        [enableService]="false" />
<div class="login-card">
    <div class="login-box">
        <div class="logo"></div>
        <div class="credentials" [formGroup]="loginForm">
            <div class="card flex justify-content-center">
                <p-floatLabel>
                    <input formControlName="user" pInputText id="username" />
                    <label for="username">Username</label>
                </p-floatLabel>
            </div>
            <p-floatLabel class="mt-2">
                <p-password formControlName="password" [feedback]="false">
                </p-password>
                <label for="password">Password</label>
            </p-floatLabel>
            <p-button  class="mt-3"
                label="Login"
                [disabled]="loginForm.get('user')?.value === '' || loginForm.get('password')?.value === ''"
                [loading]="loading" 
                (onClick)="login()" />
        </div>
    </div>
</div>